<% types = ['meow','moo','quack','ribbet','woof'] %>
<% include reportform %>
<script type="text/javascript" src="/js/report.js"></script>
<script type="text/javascript">
   function blockMove() {
      event.preventDefault() ;
}
</script>
</body>
</html>