<% include header %>

<div class="map-wrapper">
        <div class="col-lg-9 col-sm-8 full normal" id="map-content">

        </div>
        <div class="col-lg-3 col-sm-4 full" id="sidebar">
            <div id="shrink-arrow" data-type="close">
                &#59238;
            </div>
            <div class="row">
                <div class="btn-group pull-right" style="width: 100%">
                    <button type="button" class=" sidebar-btn btn btn-default on" id="dir-btn">
                        <div>
                            <span class="nav-icon" style="margin-right:5px">&#xf124;</span>
                            <span>Directions</span>
                        </div>
                    </button>
                    <button type="button" class="sidebar-btn btn btn-default" id="feed-btn">
                        <div>
                            <span class="nav-icon" style="margin-right:5px">&#xf122;</span>
                            <span>Live Feed</span>
                            <span class="badge" id="feed-badge">0</span>
                        </div>
                    </button>
                </div>
            </div>



            <div class="row side-wrapper" id="directions">
                <div class="side-content"  id="directions-scrollbar" style="overflow:hidden">
                    <form id="map-directions-form">
                         <input type="hidden" name="type" value="directions">
                         <input name="from" id="map-directions-start" type="text" class="form-control" placeholder="Start Location...">
                         <input name="to" id="map-directions-end" type="text" class="form-control" placeholder="End Location..." style="margin-bottom: 20px;">
                         <button type="submit" class="btn" id="map-directions-btn">Show Directions</button>
                    </form>
                </div>
            </div>
            <div class="row side-wrapper" id="feed">
                <div class="side-content" id="live-feed">
                    <!--dynamically generated feed items here-->
                </div>
            </div>

        </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz8Msa0Cela-0hHkSB5pAFgcfU6NL_ud0&sensor=false&libraries=visualization"></script>
<script type="text/javascript" src="/shared/IntersectionsData.js"></script>
<script src="/js/map.js"></script>
<% include footer %>