<div class="navbar navbar-inverse navbar-fixed-top ">
    <div class="container">
        <button type="button" id="nav-btn" class="navbar-toggle" data-type="open" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Project name</a>

        <div class="nav-collapse collapse bs-navbar-collapse" style="overflow: hidden;">
            <ul class="nav navbar-nav pull-right">
                <li><a target="_blank" href="https://github.com/YRSTeamHTHS/YRS2013UK-Server"><span class="nav-icon">&#xf092;</span>GitHub</a></li>
                <li><a target="_blank" href="https://twitter.com/YRSTeamHTHS"><span class="nav-icon">&#xf081;</span>Twitter</a></li>
                <li><a target="_blank" href="http://chainging.us"><img src="../img/chainge-icon.png" class="chainge-icon"/>Chainge</a></li>
                <li><a data-toggle="modal" href="#report-modal">Report</a></li>
            </ul>
        </div>
    </div>
</div>
