<div class="navbar navbar-inverse navbar-fixed-top ">
    <div class="container">
        <button type="button" id="nav-btn" class="navbar-toggle" data-type="open" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Project name</a>
        <div class="nav-collapse collapse bs-navbar-collapse" id="nav-panel">
            <ul class="nav navbar-nav">
                <li><a href="#"><span class="nav-icon">&#xf092;</span>GitHub</a></li>
                <li><a href="#about"><span class="nav-icon">&#xf081;</span>Twitter</a></li>
                <li><a href="#contact"><img src="../img/chainge-icon.png" class="chainge-icon"/>Chainge</a></li>

            </ul>
        </div>
    </div>
</div>
