<div class="navbar navbar-inverse navbar-fixed-top ">
    <div class="container">
        <button type="button" id="nav-btn" class="navbar-toggle" data-type="open" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img id="title-icon" src="../img/app-icon.png" height="45px" width="45px" /><div id="title">SafeWalk</div></a>

        <div class="nav-collapse collapse bs-navbar-collapse" style="overflow: hidden;">
            <ul class="nav navbar-nav pull-right">
                <li><a target="_blank" href="https://github.com/YRSTeamHTHS/YRS2013UK-Server"><span class="navbar-icon">&#xf092;</span><span class="nav-text">GitHub</span></a></li>
                <li><a target="_blank" href="https://twitter.com/YRSTeamHTHS"><span class="navbar-icon">&#xf081;</span><span class="nav-text">Twitter</span></a></li>
                <li><a target="_blank" href="http://chainging.us"><img src="../img/chainge-icon.png" class="picture-icon"/><span class="nav-text">Chainge</span></a></li>
                <li><a target="_blank" href="http://cityscenes.tk"><img src="../img/cityscenes-icon.png" class="picture-icon"/></span><span class="nav-text">CityScenes</span></a></li>
                <li><a data-toggle="modal" href="#report-modal"><span class="navbar-icon">&#xf06a;</span><span class="nav-text">Report</span></a></li>
            </ul>
        </div>
    </div>
</div>
